#:schema node_modules/wrangler/config-schema.json
compatibility_date = "2024-06-14"
main = "src/worker.ts"
name = "ynab-uncleared-interest"

[triggers]
crons = ["0 * * * *"]

[vars]
BUDGET="INSERT_YNAB_BUDGET_ID"
# RATE_APR   = Insert the Annual percentage rate you are earning on the above account For example:
#                "0.3" => 0.3%
#                "2" => 2%
#                "4" => 4%
# CALCULATED = Insert how often the interest is calculated from balance
#                For example, "1 day" or "2 days" or "1 week"
# PAYOUT     = Insert how often the interest is paid out
#                For example, "1 day" or "1 week" or "1 month"
ACCOUNTS = [
  {ID = "INSERT_YNAB_ACCOUNT_ID", RATE_APR = "4", CALCULATED = "1 day", PAYOUT = "1 month"}
]
# Moment.js locale
LOCALE="en-gb"
